* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #f1efea;
}

header {
    background-color: #fafafa;
}

a {
    color: #fff;
    text-decoration: none;
}

#logo img {
    width: 17rem;
    height: 6rem;
}

#links {
    background-color: #b9030f;
    height: 4rem;
    padding-block: 1rem;
    margin-bottom: 10rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: center;
}

li:hover {
    transform: scale(1.1);
    font-weight: 700;
}

main {
    background-color: #f1efea;
    min-height: calc(100svh - 240px );
}

#bandhelve img {
    max-width: 290px;
    height: 290px;
    border-radius: 50%;
    position: relative;
    left: 290px;
    bottom: 175px;
}

fieldset {
    background-color: #fff;
    margin-inline: auto;
    width: 370px;
    height: 280px;
    border-radius: 2rem;
    border: #fff;
}

h1 {
    text-align: center;
    padding-block: 3rem;
    color: #b9030f;
}

#email {
    text-align: center;
    color: #b9030f;
}

#senha {
    text-align: center;
}

input {
    border-width: 2px;
    border-color: #b9030f;
    text-align: center;
    margin-top: .6rem;
    padding: .5rem;
    border-radius: 1.5rem;
    color: #b9030f;
    position: relative;
    bottom: 2rem;
}

button {
    font-weight: 700;
    border-radius: 2.7rem;
    background-color: #b9030f;
    color: #fff;
    border: none;
    outline: none;
    padding: 2.5px 22px;
    font-size: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    bottom: 285px;
    left: 140px;
}

#cadconta {
    text-align: center;
    position: relative;
    font-size: 15px;
    bottom: 270px;
    color: #b9030f;
}

#corconta {
    color: #b9030f;
}

input::placeholder {
    color: #b9030f
}

#psen {
    text-align: center;
    position: relative;
    bottom: 30px;
    color: #b9030f;
    font-size: 8px;
}

#neve img {
    max-width: 290px;
    height: 290px;
    border-radius: 50%;
    position: relative;
    left: 290px;
    bottom: 240px;
}

#cadcent {
    text-align: center;
}

#botaocad {
    position: relative;
    bottom: 19px;
}

#home {
    font-family: "Playfair Display", sans-serif;
    position: relative;
    right: 200px;
    bottom: 100px;
    font-size: 50px;
}

#ruazinha img {
    width: 900px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    left: 230px;
    bottom: 100px;
}

#pint {
    font-size: 15px;
    color: #661312;
    text-align: center;
    position: relative;
    bottom: 8rem;
}

#sep {
    color: #661312;
    position: relative;
    bottom: 5rem;
}

#field1 {
    background-color: #661312;
    height: 400px;
    position: relative;
    right: 270px;
    border-radius: 4rem;
}

#bolha1 {
    max-width: 270px;
    color: #fff;
    position: relative;
    bottom: 770px;
    left: 270px;
}

#field2 {
    background-color: #661312;
    height: 400px;
    position: relative;
    left: 270px;
    bottom: 399px;
    border-radius: 4rem;
}

#bolha2 {
    max-width: 27rem;
    color: #fff;
    position: relative;
    bottom: 1120px;
    left: 825px;
}