* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #f1efea;
}

header {
    background-color: #fafafa;
}

a {
    color: #fff;
    text-decoration: none;
}

#logo img {
    width: 17rem;
    height: 6rem;
}

#links {
    background-color: #b9030f;
    height: 4rem;
    padding-block: 1rem;
    margin-bottom: 10rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    justify-content: center;
}

h1 {
    position: relative;
    bottom: 14rem;
    padding-block: 3rem;
    color: #661312;
    font-size: 5.5rem;
    text-align: center;
}

.primeira-pergunta p, ol{
    list-style: none;
    position: relative;
    bottom: 14rem;
    text-align: justify;
    max-width: 480px;
    font-size: 18px;
    min-width: 2px;
    color: #000000;
    width: 600px;
    padding: 40px;
    margin-inline: auto;
    background-color: #ffffff;
    border-radius: 10%;
    right: 1rem;
   
}

.segunda-pergunta p {
    position: relative;
    bottom: 8rem;
    text-align: justify;
    max-width: 480px;
    font-size: 18px;
    min-width: 2px;
    color: #000000;
    width: 600px;
    padding: 40px;
    margin-inline: auto;
    background-color: #ffffff;
    border-radius: 10%;
    right: 1rem;
    
}

.terceira-pergunta p {
    position: relative;
    bottom: 8rem;
    text-align: center;
    max-width: 480px;
    font-size: 18px;
    min-width: 2px;
    color: #000000;
    width: 600px;
    padding: 40px;
    margin-inline: auto;
    background-color: #ffffff;
    border-radius: 10%;
    right: 1rem;
   
}

main {
    width: 600px;
    padding: 40px;
    margin-inline: auto;
    background-color: #ffffff;
    border-radius: 10%;
}

#botao {
    color: #661312;
}

#hom:hover, #cultura:hover, #pt:hover, #culinaria:hover, #eco:hover, #quiz:hover{
    transform: scale(1.1);
    font-weight: 700;
}

input{
    margin-right: 5px;
}